.footer {
  background: linear-gradient(180deg, #faf0f4 0%, #f09ebc 100%);
  color: #444;
  padding: 60px 20px 20px;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  border-top: 0px solid #ffd6e9;
}



.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.footer-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  filter: drop-shadow(0 3px 6px rgba(144, 95, 201, 0.767));
}

.footer-title {
  font-size: 1.6rem;
  color: #e75480;
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.3s;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-links a:hover {
  color: #e75480;
}

.footer-social {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-bottom: 25px;
}

.footer-social a {
  color: #e75480;
  background: #ffe6f1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgba(255, 105, 180, 0.25);
}

.footer-social a:hover {
  background: #b74ff38c;
  color: white;
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid rgba(255, 182, 193, 0.4);
  padding-top: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  .footer-links {
    gap: 15px;
  }

  .footer-social a {
    width: 36px;
    height: 36px;
    font-size: 1rem;
  }
}
