/* Reinicio básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajustes globales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #fff;
}

/* Mantén el root libre para usar toda la pantalla */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
